<h1>Edit quiz</h1>

<form id="edit-quiz" name="quiz">
  <div class="field">
    <label for="content"> content:</label>
    <input type="text" name="content" id="content" value="<%= content %>" >
  </div>

  <div class="field">
    <label for="item_id"> item_id:</label>
    <input type="text" name="item_id" id="item_id" value="<%= item_id %>" >
  </div>

  <div class="field">
    <label for="video_id"> video_id:</label>
    <input type="text" name="video_id" id="video_id" value="<%= video_id %>" >
  </div>

  <div class="field">
    <label for="video_time"> video_time:</label>
    <input type="text" name="video_time" id="video_time" value="<%= video_time %>" >
  </div>

  <div class="field">
    <label for="video_end"> video_end:</label>
    <input type="text" name="video_end" id="video_end" value="<%= video_end %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Update Quiz" />
  </div>

</form>

<a href="#/index">Back</a>