<td><%= content %></td>
<td><%= item_id %></td>
<td><%= video_id %></td>
<td><%= video_time %></td>
<td><%= video_end %></td>

<td><a href="#/<%= id %>">Show</td>
<td><a href="#/<%= id %>/edit">Edit</td>
<td><a href="#/<%= id %>/destroy" class="destroy">Destroy</a></td>