<p>
  <b>Content:</b>
  <%= content %>
</p>

<p>
  <b>Item:</b>
  <%= item_id %>
</p>

<p>
  <b>Video:</b>
  <%= video_id %>
</p>

<p>
  <b>Video time:</b>
  <%= video_time %>
</p>

<p>
  <b>Video end:</b>
  <%= video_end %>
</p>


<a href="#/index">Back</a>