  <div class="row" id="lecture-title">
    <div class="span12">
      <h2>Lecture <%= @lecture.number %> : <%= @lecture.title %></h2>
    </div>
  </div>

<div class="row main-page">
  <div class="span6">
    <div id="video" style="width:460px;" >
      <a class="play-btn btn btn-small btn-info" data-videoid="<%= @lecture.video_id %>" data-start="0" data-end="9999" href="#"><i class="icon-play icon-white"></i> Watch!</a>
    </div>
  </div>
  <div class="span6">

    <div class="item-container">
      <div class="item" id="item-none">
        <p>Notes will display here as you watch the lecture. Enjoy!</p> 
      </div>
      <%= render @lecture.items %>
    </div>
    <script type="text/javascript">
      $(document).ready(function() {
          document.loadVideo("<%= @lecture.video_id %>", 0, 9999);
          <% @lecture.items.each do |item| %>
            document.vid.code({ start: <%= item.video_time %>, end: <%= item.video_end %>, onStart: function() { document.showItem(<%= item.id %>) }})
          <% end %>
          });
        </script>
      </div>
