<div class="item">
  <h2><span style="vertical-align: 45%; margin-right: 1em;" class="label" ><%= @memory.component.label %></span><%= @memory.component.name %></h2>
  <% if @memory.component.quizzes.count > 0 %>
    <p><span id="nth-quiz">1</span> of 
    <span id="tot-quiz"><%= pluralize @memory.component.quizzes.count, 'quiz' %></span>
    <button id="quiz-back-btn" class="btn btn-mini disabled">Back</button>
    <button id="quiz-next-btn" class="btn btn-mini">Next</button>
    </p>
    <%= render @memory.component.quizzes %>
    <button id="quiz-show-btn" class="btn">Show</button>
    <p id="item-content">
      <%= @memory.component.content %>
    </p>
  <% else %>
    <%= @memory.component.content %>
  <% end %>

<div id="rating-panel">
  <hr>
  <p>Rate your understanding of this item after trying the quizzes</p>
  <%= form_for @memory, :remote => true, :html => { :class => 'quiz-btn' } do |f| %>
    <%= f.hidden_field :quality, :value => 0 %>
    <%= f.submit "MISS!", :class => "btn btn-danger" %>
  <% end %>
  <%= form_for @memory, :remote => true, :html => { :class => 'quiz-btn' } do |f| %>
    <%= f.hidden_field :quality, :value => 3 %>
    <%= f.submit "HARD", :class => "btn btn-warning" %>
  <% end %>
  <%= form_for @memory, :remote => true, :html => { :class => 'quiz-btn' } do |f| %>
    <%= f.hidden_field :quality, :value => 4 %>
    <%= f.submit "GOOD", :class => "btn btn-success" %>
  <% end %>
  <%= form_for @memory, :remote => true, :html => { :class => 'quiz-btn' } do |f| %>
    <%= f.hidden_field :quality, :value => 5 %>
    <%= f.submit "EASY!!", :class => "btn btn-primary" %>
  <% end %>
</div>

