
<div class="row">
  <div class="span16">
    <form>
      <div class="clearfix">
        <div class="input">
          <input type="text" class="span8" />
          <a class="btn primary" href="#">Search</a>
          <br />
          <span class="example-search">Examples: open set, induction,
            Cauchy</a>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="span8">
    <div id="video" style="width: 420px;height: 315px"></div>
  </div>
  <div class="span8">
    <ul id="list">
    <% @items.each do |item| %>
      <li>
        <span class="label"><%= item.label %></span>
        <span class="item-name"><%= item.name %></span>
        <p><%= item.content %></p>
        <a href="#" data-videoid="<%= item.video_id %>" data-start="<%= item.video_time %>" data-end="<%= item.video_end %>" class="play-btn">Watch!</a>
      </li>
    <% end %>
    </ul>
  </div>
</div>
