<div class="row main-page">
  <div class="span4">
    <div class="well sidebar-nav">

      <div id="search-header">
        <input class="input focused" id="search-box" name="search" type="text" autocomplete="off" value="" placeholder="Type a definition or theorem">
      </div>
      <ul class="nav nav-list">
        <% @items.each do |item| %>
          <li id="nav-item-<%= item.id %>" ><a href="#" id="nav-link-<%= item.id %>"><%= item.name %></a></li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="span8 main-content">
    <div class="quiz-container well">
    </div>
    <div class="item-container">
      <div class="item" id="item-none">
        <% if current_user.due_memories.count > 0 %>
          You have items to study!
          <%= link_to "Go", "#", :class => 'study-initiate', :class => 'btn' %>
        <% else %>
          Search for an item on the left!
        <% end %>
      </div>
      <%= render @items %>
    </div>
    <div class="video-container well">
      <div id="video" style="width: 420px; height: 315px; margin: auto;"></div>
    </div>

  </div>
</div>
