<div class="row main-page">
  <div class="span4">
    <div class="well sidebar-nav">

      <div id="search-header">
        <input class="input focused" id="search-box" name="search" type="text" autocomplete="off" value="" placeholder="Type a definition or theorem">
      </div>
      <ul class="nav nav-list">
        <% @items.each do |item| %>
          <li><a href="#" id="item-nav-<%= item.id %>"><%= item.name %></a></li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="span8 main-content">
    <div class="item-container well">
      <div class="item" id="default-item"><p>Search for an item on the left!</p></div>
      <% @items.each do |item| %>
        <div class="item" id="item-<%= item.id %>" style="display: none;" data-title="<%= item.name %>">
          <h2><span style="vertical-align: 45%; margin-right: 1em;" class="label" ><%= item.label %></span><%= item.name %></h2>
          <p><%= simple_format item.content %></p>
          <a class="play-btn btn btn-small btn-info" data-videoid="<%= item.video_id %>" data-start="<%= item.video_time %>" data-end="<%= item.video_end %>" href="#"><i class="icon-play icon-white"></i> Watch!</a>
        <% if user_signed_in? and not current_user.studying?(item) %>
          <%= form_for Spaceable::Memory.new, :remote => true do |f| %>
            <%= f.hidden_field :component_id, { :value => item.id } %>
            <%= f.submit "Study", { :class => 'btn btn-small' } %>
          <% end %>
        <% end %> 
        </div>
      <% end %>
    </div>
    <div class="video-container well">
      <div id="video" style="width: 420px; height: 315px; margin: auto;"></div>
    </div>
  </div>
</div>
