<h1>New item</h1>

<form id="new-item" name="item">
  <div class="field">
    <label for="name"> name:</label>
    <input type="text" name="name" id="name" value="<%= name %>" >
  </div>

  <div class="field">
    <label for="content"> content:</label>
    <input type="text" name="content" id="content" value="<%= content %>" >
  </div>

  <div class="field">
    <label for="label"> label:</label>
    <input type="text" name="label" id="label" value="<%= label %>" >
  </div>

  <div class="field">
    <label for="video_id"> video_id:</label>
    <input type="text" name="video_id" id="video_id" value="<%= video_id %>" >
  </div>

  <div class="field">
    <label for="video_time"> video_time:</label>
    <input type="text" name="video_time" id="video_time" value="<%= video_time %>" >
  </div>

  <div class="field">
    <label for="video_end"> video_end:</label>
    <input type="text" name="video_end" id="video_end" value="<%= video_end %>" >
  </div>

  <div class="field">
    <label for="item_info"> item_info:</label>
    <input type="text" name="item_info" id="item_info" value="<%= item_info %>" >
  </div>

  <div class="field">
    <label for="lecture_id"> lecture_id:</label>
    <input type="text" name="lecture_id" id="lecture_id" value="<%= lecture_id %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create Item" />
  </div>

</form>

<a href="#/index">Back</a>