<p>
  <b>Name:</b>
  <%= name %>
</p>

<p>
  <b>Content:</b>
  <%= content %>
</p>

<p>
  <b>Label:</b>
  <%= label %>
</p>

<p>
  <b>Video:</b>
  <%= video_id %>
</p>

<p>
  <b>Video time:</b>
  <%= video_time %>
</p>

<p>
  <b>Video end:</b>
  <%= video_end %>
</p>

<p>
  <b>Item info:</b>
  <%= item_info %>
</p>

<p>
  <b>Lecture:</b>
  <%= lecture_id %>
</p>


<a href="#/index">Back</a>